body {
  font: 1.3em Lato, Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  vertical-align: middle;
  margin-left: 10px;
}

ol.secondary {
  /* list-style-type: lower-alpha; */
  padding-left: 20px;
}

.toc-section h2 {
  margin: 0px;
}

.selected-lesson {
  font-weight: bold;
}

.unselected-lesson {
  text-decoration: underline;
  cursor: pointer;
}

.visible-lesson {
  display: block;
  padding: 10px;
}

.hidden-lesson {
  display: none;
}

.run-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 85px;
}

.codewrapper {
  display: block;
  position: relative;
}

#toc .internal {
  padding: 15px;
}
#title {
  font-size: 2em;
  padding-bottom: 10px;
  padding-top: 10px;
}
#toc {
  position: absolute;
  top: 0px;
  left: 0px;
  padding-left: 5px;
  height: 100%;
  width: 250px;
  background-color: #fbfbfb;
  border: 1px solid #ddd;
}

#main {
  position: absolute;
  top: 0px;
  left: 255px;
  right: 650px;
  height: 100%;
  padding: 20px;
  width: auto.2;
}

#terminal {
  position: absolute;
  top: 0px;
  right: 5px;
  height: 100%;
  width: 630px;
  padding: 10px;
}


.codeblock {
  border-style: solid;
  border-width: thin thin thin 15px;
  border-color: #cccccc;
  font-family: "Monaco",sans-serif;
  padding: 1.0em;
  background: #fafafa;
  font-size: 1.0rem;
}

.button {
    outline: 0;
    color: #6e6e6e;
    font: 700 12px Helvetica,Arial,sans-serif;
    text-decoration: none;
    padding: 7px 12px;
    position: relative;
    display: inline-block;
    text-shadow: 0 1px 0 #fff;
    -webkit-transition: border-color .218s;
    -moz-transition: border .218s;
    -o-transition: border-color .218s;
    transition: border-color .218s;
    background: #f3f3f3;
    background: -webkit-gradient(linear,0 40%,0 70%,from(#F5F5F5),to(#F1F1F1));
    background: -moz-linear-gradient(linear,0 40%,0 70%,from(#F5F5F5),to(#F1F1F1));
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
